*, 
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-font: 'Inter', sans-serif;
    --secundary-font: 'Lexend Deca', sans-serif;
    --main-background_color: hsl(233, 47%, 7%);
    --card-background_color: hsl(244, 38%, 16%);
    --accent_color: hsl(277, 64%, 61%);
    --main-heading_color: hsl(0, 0%, 100%);
    --main-paragraph_color: hsla(0, 0%, 100%, 0.75);
    --stat-headings_color: hsla(0, 0%, 100%, 0.6);

}

h1 {
    color: var(--main-heading_color);
    font-size: 1.625rem;
}

.accent-color {
    color: var(--accent_color);
}

p {
    color: var(--main-paragraph_color);
    font-size: 0.875rem;
    line-height: 1.3rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 0.9375rem;
    font-family: var(--primary-font);
    background-color: var(--main-background_color);
    padding: 1em;
    margin: 1em 0;
}

main {
    max-width: 300px;
    background-color: var(--card-background_color);
    border-radius: 1em;
    text-align: center;
}

.img-container{
    background-color: var(--accent_color);
    line-height: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.main-img {
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    mix-blend-mode: multiply;
}

.main-text {
    padding: 1em;
}

.all-stats {
    margin-top: 2em;
}

.block {
    display: block;
    font-weight: bold;
    color: var(--main-heading_color);
    font-size: 1.2rem;
    padding-bottom: .5em;
}

.stat {
    text-transform: uppercase;
    font-family: var(--secundary-font);
    font-size: 0.625rem;
    color: var(--stat-headings_color);
    letter-spacing: 1px;
}

@media (min-width: 800px){
    main {
        display: flex;
        max-width: 700px;
    }

    .img-container{
        order: 2;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 1em;
    }

    .main-img {
        border-top-left-radius: 0;
        border-bottom-right-radius: 1em;
        object-fit: cover;
        height: 100%;
        max-width: 350px;
    }

    .main-text {
        order: 1;
        text-align: left;
        padding: 2em;
        margin-right: 3em;
    }

    .all-stats{
        display: flex;
        margin-top: 3em;
    }

    .stat + .stat {
        margin-left: 5em;
    }
}